<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/tree_styler.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/tree_render.js"></script>
    <title>QAlchemy</title>
</head>
<body>
    <div id="search_bar">
        <form id="search_form">
            <div id="search_input_container">
                <input type="text" id="query_input" placeholder="Enter your search query">
                <div id="search">Search</div>
            </div>
        </form>
    </div>
    <div id="results">
        <!-- Search results will be displayed here -->
    </div>
</body>
</html>
